{% extends 'base.html' %} {% load static %} {% block content %}

<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 msg">
<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="close"><a href="{% url 'messages' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
    </div>
    <div class="title">Title Ad</div>
  </div>
  <ul class="messages" id="messages">

    {% comment %}
    {% for message in messages %}
    <li class="message left appeared">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text">{{ message.message_text }}</div>
      </div>
    </li>
    {% endfor %}

    <li class="message right appeared">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text">asd2</div>
      </div>
    </li>
    {% endcomment %}


  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
  <script id="myMessageTmpl" type="text/x-jsrender">
    <li class="message right appeared">
      <div class="avatar"><img src="{{:avatar}}" /></div>
      <div class="text_wrapper">
        <div class="text">{{:message_text}}</div>
      </div>
    </li>
  </script>

  <script id="yourMessageTmpl" type="text/x-jsrender">
    <li class="message left appeared">
      <div class="avatar"><img src="{{:avatar}}" /></div>
      <div class="text_wrapper">
        <div class="text">{{:message_text}}</div>
      </div>
    </li>
  </script>
{% endverbatim %}


<script type="text/javascript">
  var messages = [];
  var last_id = null;
  var timerId;

  function renderMessage(message){
    var tmpl;
    if (message.author_id == {{ other_guy_pk }}){
      tmpl = $.templates("#yourMessageTmpl");
    } else {
      tmpl = $.templates("#myMessageTmpl");
    }
    var html = tmpl.render(message);
    $("#messages").append(html);  

  };

  function getMessages() {
    $.get(
      "{% url 'chat_data' other_guy_pk %}",
      {last_id}
    ).done(function(data){
      console.log(data);
      data.messages.map(function(message, i){
        renderMessage(message);
        messages.push(message);
        last_id = message.id;
      });
      if (data.messages.length > 0){
        $('#messages').animate({ scrollTop: $('#messages').height() }, "slow");
      }
      timerId = setTimeout(getMessages, 5000);
    })
  };

  getMessageText = function () {
      var $message_input;
      $message_input = $('.message_input');
      return $message_input.val();
  };
  sendMessage = function (text) {
      $.post(
        "{% url 'message_create' %}",
        {
          'message_text': text,
          'user_id': {{ other_guy_pk }},
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        }
      ).done(function(data){
        $('.message_input').val('');
        if(data.error == 0) {
          clearTimeout(timerId);
          getMessages();
        }
      })
  };
  $('.send_message').click(function (e) {
      return sendMessage(getMessageText());
  });
  $('.message_input').keyup(function (e) {
      if (e.which === 13) {
          return sendMessage(getMessageText());
      }
  });


  $(document).ready(function() {
      getMessages();
  });

</script>
{% endblock %}