{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 msg">
  <div class="top_menu">
    <div class="buttons">
      <div class="close">
</div>
    </div>
    <div class="title">My messages</div>
  </div>
  {% for message in object_list %}
    <div class="row chatbox" data-href="{% url 'chat' message.chat_id %}">
        <div class="chatbox-photo col-xs-2">
          <img src="{{ message.author.avatar_url }}" alt="">
        </div>
        <div class="chatbox-content col-xs-10">
          <div class="chatbox-header">
            <div class="chatbox-username">
              {{ message.author }}
            </div>
            <div class="chatbox-date">{{ message.created_at }}</div>
          </div>
          <div class="chatbox-message size">
            {{ message.message_text }}
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(".chatbox").click(function(e){
    window.location = $(this).data("href");
  })
</script>
{% endblock %}
