{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}


  <div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal" method="post">
        {%csrf_token%} {% load widget_tweaks %}
        <h1 class = "reg_tittle">Sign up</h1>
        <div class="reg_value">
            <label for="usr_name" class="reg_label">Username</label>
            <br> {% render_field form.username class+="reg_input" id+="usr_name"%}
        </div>
        <div class="reg_value">
            <label for="usr_pass" class="reg_label">Password</label>
            <br> {% render_field form.password class+="reg_input" id+="usr_email"%}
        </div>

        <div class="edit-btn">
            <Button type="submit" class="btn btn-primary reg-btn">Sign up</Button></div>
          </form>
          <div class="reg_value">
            <a href="" class = "reset-pass">Forgot your password?</a>
          </div>
        </div>

    </form>
</div>
{% endblock %}
