{% extends 'base.html' %} {%block content%}
<div class="col-sm-offset-3 col-sm-6">
      <form class="form-horizontal" method="post">
          {%csrf_token%} {% load widget_tweaks %}
          <h1 class = "reg_tittle">Sign up</h1>
          <div class="reg_value">
              {{form.username.errors}}
              <label for="usr_name" class="reg_label">Username</label>
              <br> {% render_field form.username class+="reg_input" id+="usr_name"%}
          </div>
          <div class="reg_value">
              {{form.email.errors}}
              <label for="usr_email" class="reg_label">Email</label>
              <br> {% render_field form.email class+="reg_input" id+="usr_email"%}
          </div>
          <div class="reg_value">
              {{form.password1.errors}}
              <label for="usr_pass1" class="reg_label">Password</label>
              <br> {% render_field form.password1 class+="reg_input" id+="usr_pass1"%}
          </div>
          <div class="reg_value">
              {{form.password2.errors}}
              <label for="usr_pass2" class="reg_label">Confirm</label>
              <br> {% render_field form.password2 class+="reg_input" id+="usr_pass2"%}
          </div>
          <div class="reg_value">
              {{form.tos.errors}}
              TOS
              {% render_field form.tos class+="reg_radio" id+="usr_tos"%}
          </div>
          <div class="edit-btn">
              <Button type="submit" class="btn btn-primary reg-btn">Registration</Button></div>
            </form>
      </form>
</div>
{%endblock%}
