{% extends 'base.html' %}
<!-- {% load bootstrap %} -->

{%block content%}
<!-- <div class="center-container">
<div class="form-group">
 --><form method="post">
{%csrf_token%}
    {{ form }}
    <input type="submit" name="Submit" class="btn-large btn btn-success">
</form>
<!-- </div>
</div>
 -->{%endblock%}
<!-- </body>
</html> -->