{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<div class="row">
  <div class="well well-lg">
    <h2 class = "text-center">Who we are?</h2>
    <p>Uniko is an app built by a college student for a college student. I, David Quito am an entrepreneurship student that understands the struggle with being a college student and doing what one can to keep up with expenses. I had a work-study job, but even with it it was not enough money to suffice for the semester. I wanted to make my own money, getting a job wasn’t within reach because I had no car. What I did was teach myself to cut hair and started giving haircuts. </p>
    <p>This is when I realized I wasn’t alone, there were other students like me that were trying to build there own business or trying to think of ways they can make some extra cash on campus. This is what inspired me to create Uniko! It will create the marketplace that will help student earn some cash or build his or her own business under a safe and convenient platform.</p>
</div>
	</div>
</div>
{% endblock %}
