{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<div class="row">

        <ul class="my-toggle">
              <h2>General</h2>
            <li>
                <a class="view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="toggle-title">1.	Who can access Uniko?</h3>
                        </div>
                    </div>
                </a>
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toggle-wrapper">
Essentially all students that are currently enrolled are able to have access to the Uniko site. Every student that signs up with Uniko will have to verify his or her email before being put into the marketplace. To ensure exclusivity with Uniko, we only allow students from your school to know what is being bought and sold in your school’s marketplace.                             </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a class="view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="toggle-title">2.	How can I get Uniko on my campus?</h3>
                        </div>
                    </div>
                </a>
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toggle-wrapper">
Students will be able to contact Uniko at our website, www.uniko.us, and we will take the necessary steps to get Uniko to your school. If you are looking to become a brand ambassador please contact us through our website and will be walk you through how to become a brand ambassador with Uniko at your school.                         </div>
                    </div>
                </div>
            </li>

            <li>
                <a class="view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="toggle-title">3.	Who do I contact if I have troubles with Uniko?</h3>
                        </div>
                    </div>
                </a>
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toggle-wrapper">
We do our best to keep the marketplace safe for all to use, but at times, problems do tend to arise. You can reach us between the hours of 8am – 6pm (EST) at our website www.uniko.us. Please state in the subject “Complaint” and we will be in contact within 24 hours.                         </div>
                    </div>
                </div>
            </li>
<h2>Use of Uniko</h2>
            <li>
                <a class="view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="toggle-title">1.	What can I post onto the Uniko marketplace? </h3>
                        </div>
                    </div>
                </a>
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toggle-wrapper">
As we do monitor the marketplace of all schools consistently, we do our best to keep students from posting illicit and illegal products and services.  We have a zero tolerance policy to the postings of illicit and illegal products and services and the user will be held accountable not only by the school’s policy, but also by the law, and will be prohibited to use the Uniko marketplace                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="toggle-title">2.	I forgot my password to my account. What do i do? </h3>
                        </div>
                    </div>
                </a>
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toggle-wrapper">
On the log in page, please click the forgot password link and follow instructions.                     </div>
                </div>
            </li>
            <li>
                <a class="view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="toggle-title">3.	How do I get an item I purchased?</h3>
                        </div>
                    </div>
                </a>
                <div class="detail">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toggle-wrapper">
With our in app messaging feature you are able to message each other to set up for a time and location to meet on campus.                    </div>
                </div>
            </li>

        </ul>
	</div>
</div>
{% endblock %}
