<div class="page-buffer"></div>
<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 soc-icons col-sm-6 col-xs-12">
				<ul>
					<li><a href="https://twitter.com/uniko_us"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="https://www.facebook.com/uniko.us/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="https://www.instagram.com/uniko_us/ "><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="col-md-6  footer-nav col-sm-6 col-xs-12">
				<ul>
					<li><a href="{% url 'faq' %}">FAQ</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'terms' %}">Terms</a></li>
					<li><a href="{% url 'privacy_policy' %}">Private Policy</a></li>
				</ul>
			</div>
		</div>
			<div class="row">
				<div class="col-md-12 text-center"><strong>© 2017 Uniko</strong></div>
		</div>
	</div>
</footer>
