{% load static %}
<div class="header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<button type="button" class="navbar-toggle collapsed navbar-search-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
				<a class="navbar-brand" href="{% url 'advert-list' %}"><img src="{% static 'img/logo.svg' %}" alt="Logo Uniko" class = "logo"></a>
			</div>

			<div class="collapse navbar-search" id="bs-example-navbar-collapse-3" aria-expanded="false" style="height: 1px;">
				<form class="navbar-form navbar-left" role="search" action="{% url 'advert-list' %}">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
							<input type="search" placeholder = "Uniko Search	" class="form-control search-field">
							<span class="input-group-btn">
								<input class="btn btn-default search-btn" type="submit">Search</button>
							</span>
						</div>
					</div>
				</form>
			</div>


			<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
				{% if user.is_authenticated %}
				<ul class="nav navbar-nav">
					<li class="dropdown">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% if user.profile.avatar %}<img src="{{user.profile.avatar.url}}" alt="">{%else%}<img src="{% static 'img/user'%}" alt="">{%endif%}<span class = "user-name hidden-sm">{{user}}</span><span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'user_profile' user.profile.id %}"><i class="fa fa-user-circle" aria-hidden="true"></i>My profile</a></li>
							<!-- <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>discover</a></li> -->
							<li><a href="{% url 'add-advert' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Post a product</a></li>
							<li>
								<a href="{% url 'messages' %}">
									<i class="fa fa-comments" aria-hidden="true">
									</i>Message{% if user.profile.new_messages_count %}<span class="badge unread-message">{{ user.profile.new_messages_count }}</span>{% endif %}</a></li>
							<li class = "logout-item"><a href="{% url 'registration:auth_logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
								Log out</a></li>
							</ul>
						</li>
					</ul>
					{%endif%}
				<form class="navbar-form navbar-left" role="search" action="{% url 'advert-list' %}" method="GET">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
							<input type="search" placeholder = "Uniko Search	" class="form-control search-field" name="search_query">
							<span class="input-group-btn">
								<input class="btn btn-default search-btn" type="submit">Search</button>
							</span>
						</div>
					</div>
				</form>
					<ul class="nav navbar-nav navbar-right nav-links">
						{% if user.is_authenticated %}
						<li><a href="{% url 'add-advert' %} 	" class = "btn sell-btn"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Sell</a></li>
						{% else %}
						<li><a href="{% url 'registration:auth_login' %}" class = "btn login-btn" data-toggle="modal"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a></li>
						<li><a href="{% url 'registration:registration_register' %}" class = "btn signup-btn" data-toggle="modal"><i class="fa fa-user-plus" aria-hidden="true"></i>
							Sign Up</a></li>
						</ul>
						{%endif%}
					</div>
				</div>
			</nav>
	</div>
