{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<div class="row">
  <div class="well well-lg">
    <h2 class = "text-center">PRIVACY POLICY</h2>
    <i>Last Updated: April 14, 2016</i>
    <p><strong>This policy details how data about you is collected/used/disclosed when you visit our websites and services (together, "UNIKO") or otherwise interact with us. If we update it, we will revise the date, place notices on UNIKO if a change is material, and/or obtain your consent as required by law.</strong></p>
    <p><strong>1. Protecting your privacy</strong></p>
<ul>
  <li>We take precautions to prevent unauthorized access to or misuse of data about you.</li>
  <li>We do not run ads, other than classified ads posted by our users.</li>
  <li>We do not share your data with third parties for marketing purposes.</li>
  <li>We do not engage in cross-marketing or link-referral programs with other sites.</li>
  <li>We do not employ tracking devices for marketing purposes.</li>
  <li>We do not send you unsolicited communications for marketing purposes.</li>
  <li>We do not engage in affiliate marketing (and prohibit it on UNIKO).</li>
  <li>We do provide email proxy & relay to reduce unwanted mail.</li>
  <li>UNIKO links to third party sites - please review their privacy policies.</li>
</ul>
<p><strong>2. Information We Collect Automatically When You Use the Uniko Service.</strong> When you access or use the Uniko Service, we automatically collect information about you, including:</p>
  <ul>
    <li><strong>2.1. Log Information:</strong> We log information about your use of the Uniko Service, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Uniko Service</li>
    <li><strong>2.2. Device Information:</strong> We collect information about the computer or mobile device you use to access the Uniko Service, including the hardware model, operating system and version, unique device identifiers and mobile network information.</li>
    <li><strong>2.3. Location Information:</strong> If you consent to the collection of location information from your computer or mobile device, we may collect this information when you access or use the Uniko Service, or when you otherwise consent to the collection of this information. We may also use your IP address to infer an approximate geographic location for your computer or device. For more details, please see "Your Information Choices" below.</li>
    <li><strong>2.4. Information Collected by Cookies and Other Tracking Technologies:</strong> We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that helps us to improve the Uniko Service and your experience, see which areas and features of the Uniko Service are popular and count visits. We may also collect information using web beacons (also known as "gifs," "pixel tags" and "tracking pixels"). Web beacons are electronic images that may be used in the Uniko Service or emails and help deliver cookies, count visits, understand usage and campaign effectiveness and determine whether an email has been opened and acted upon. </li>
  </ul>
  <p><strong>3. Data we store</strong></p>
  <ul>
    <li>We retain data as long as needed for our business purposes and/or as required by law.</li>
    <li>We make good faith efforts to store data securely, but make no guarantees.</li>
    <li>You may access and update certain data about you by logging into your account.</li>
  </ul>
  <p><strong>4. Circumstances in which we may disclose user data:</strong></p>
  <ul>
    <li>To vendors and service providers (e.g. payment processors) working on our behalf.</li>
    <li>To respond to subpoenas, court orders, or other legal process.</li>
    <li>To protect our rights, property, or safety, or that of our users or the general public.</li>
    <li>With your consent (e.g. if you authorize us to share data with other users).</li>
    <li>In connection with a merger, bankruptcy, or sale/transfer of assets to another company.</li>
    <li>In aggregate or summary form, as long as it cannot reasonably be used to identify you.</li>
    <li>To a user’s specific university if that user violates his/her school’s student conduct code.</li>
    <li></li>
  </ul>
  <p><strong>5. CHANGES TO THIS PRIVACY POLICY.</strong> We may change this privacy policy. If we make any changes, we will change the Last Updated date above.</p>
  </div>
</div>
</div>
{% endblock %}
