{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<div class="row">
  <div class="well well-lg">
    <h2 class = "text-center">Terms of Use</h2>
    <p><i>Last Updated: April 14, 2016</i></p>
    <p><strong>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. THESE TERMS INCLUDE A MANDATORY ARBITRATION PROVISION AND CLASS ACTION WAIVER PROVISION, WHICH AFFECT YOUR RIGHTS ABOUT HOW TO RESOLVE ANY DISPUTE WITH UNIKO, LLC. BY ACCESSING OR USING OUR WEBSITE, APPLICATIONS OR OTHER PRODUCTS OR SERVICES BY US (TOGETHER, THE UNIKO "SERVICE"), YOU AGREE TO BE BOUND BY ALL TERMS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE ("TERMS"). IF YOU DO NOT AGREE TO ALL OF THESE TERMS, YOU MAY NOT ACCESS OR USE THE UNIKO SERVICE.</strong></p>
    <p><strong>1. Eligibility</strong></p>
    <p><strong>ONLY USERS WHO ARE EIGHTEEN (18) YEARS OF AGE OR OLDER MAY REGISTER FOR OR USE THE UNIKO SERVICE. </strong>The Uniko Service is not targeted towards, nor intended for use by, anyone under the age of eighteen (18). You further represent and warrant that you: (a) have not previously been suspended or removed from using the Uniko Service; (b) are legally permitted to, and do, live in the United States or one of its territories, and (c) may enter into this agreement without violating any other agreement to which you are a party. If you are registering to use the Uniko Service on behalf of a legal entity, you further represent and warrant that (i) such legal entity is duly organized and validly existing under the applicable laws of the jurisdiction of its organization, and (ii) you are duly authorized by such legal entity to act on its behalf. The Uniko Service is available to you only in the United States, its territories, and possessions. You agree not to use or attempt to use the Uniko Service from outside these locations. Uniko may use technologies to verify your compliance.</p>
    <p>Use of the Uniko Service requires compatible devices, Internet access, and certain software (fees may apply); may require periodic updates; and may be affected by the performance of these factors. High-speed Internet access is recommended for regular use. The latest version of required software is recommended to access the Uniko Service and may be required for certain transactions or features. You agree that meeting these requirements, which may change from time to time, is your responsibility. The Uniko Service is not part of any other product or offering, and no purchase or obtaining of any other product shall be construed to represent or guarantee you access to the Uniko Service.</p>
    <p><strong>2. Account Registration and Security Responsibilities</strong></p>
    <p><strong>A. Process.</strong> In order to access certain parts of the Uniko Service, you may be required to create an Uniko account (an "Account"). In connection with creating an Account, you must provide certain information ("Registration Data") and answer all questions or fields marked "required." You agree to: (i) provide true, accurate, current and complete Registration Data; (ii) maintain and update such Registration Data to keep it true, accurate, current and complete; and (iii) consent to allow Uniko to contact you for the purpose of confirming some or all of your Registration Data, to conduct research and to resolve disputes, as Uniko may elect to do from time to time. Uniko reserves the right to require you to provide identity verification at any time. NOTE: UNIKO REQUIRES EMAIL, “COLLEGE OR UNIVERSITY .EDU” VERIFICATION TO ACCESS THE UNIKO SERVICE. YOU AGREE TO PROVIDE THE NECESSARY EMAIL CREDENTIALS, KNOWING THAT UNIKO MAY NOT BE DIRECTLY AFFILIATED WITH THE PARTY IN WHICH THE EMAIL ACCOUNT WAS PROVIDED BY.</p>
    <p><strong>B. Your Account Security Responsibilities. </strong>You are responsible for: (i) maintaining the confidentiality of your Account credentials, (ii) restricting access to your device and to your Account, (iii) all activities, charges and/or liabilities that occur from your Account, whether or not authorized by you, and (iv) promptly notifying us if you discover or otherwise suspect any security breaches related to your Account.</p>
    <p><strong>3. Privacy</strong></p>
    <p>Please refer to our PRIVACY POLICY for information about how we collect, use and share information about individual users of the Uniko Service.</p>
    <p><strong>4. Electronic Communications</strong></p>
    <p>When you use the Uniko Service, send e-mails to us, or communicate with us via the Uniko app or web site, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices through the Uniko Service. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
    <p><strong>5. Description of the Uniko Service</strong></p>
    <p><strong>A. General.</strong> The Uniko Service provides a simple and efficient marketplace for buying and selling goods and services strictly within the university community. The Uniko Service creates a market place for buyers and sellers to connect and incorporates a seamless method for making and negotiating offers to purchase goods and services posted for sale. To participate in the Uniko site, a seller takes a photograph of a good or service he or she wishes to sell and then posts it to the Uniko site with an asking price to allow a potential local buyer to view the good or service and accept it. The Uniko site includes a messaging feature that allows a buyer and a seller to discuss details of the good or service and set up an in-person meeting to finalize the purchase.</p>
    <p><strong>B. Payment Options.</strong></p>
    <p><i>1. Cash and Other Payments Determined by Users.</i> A buyer may, by agreement with the seller, elect to make payment by cash, check or other payment method accepted by the seller. Such payments are made directly between the buyer and the seller when they meet in person to complete their purchase and sale transaction, pursuant to terms they determine. Uniko is not a party to such transactions, and does not facilitate such transactions, refunds or returns in any manner.</p>
    <p><strong>C. Additional Information. </strong></p>
    <p><strong>1. For additional information regarding Payment Options</strong>, see our FAQs.</p>
    <p><strong>2. Transactions Final.</strong> Regardless of the payment method chosen, ALL PURCHASES ARE FINAL, AND THERE ARE NO REFUNDS, UNLESS YOU AND THE SELLER OTHERWISE AGREE AND MAKE ARRANGEMENTS FOR A REFUND, AND/OR A POLICE REPORT IS FILED AND AN ACTIVE INVESTIGATION IS OPEN. Uniko does not facilitate refunds.</p>
    <p><strong>3. Taxes.</strong> It is your responsibility to determine what, if any, taxes apply to each transaction you complete via the Uniko Service, including, for example, sales, use, value added, and similar taxes. It is also your responsibility to withhold, collect, report and remit the correct taxes to the appropriate tax authorities. Uniko is not responsible for withholding, collecting, reporting, or remitting any sales, use, value added, or similar tax arising from any transaction you complete via the Uniko Service.</p>
    <p><strong>6. Discontinuance of the Uniko Service</strong></p>
    <p>Uniko may, in its sole discretion and without liability to you, modify, discontinue, terminate, suspend or shut-down (temporarily or permanently) all or any portion of the Uniko Service at any time, without prior notice. Upon any such action by Uniko, you must immediately stop using the Uniko Service. You may also cancel your Account at any time, as described in Section 15 below.</p>
    <p><strong>7. Acceptable Use</strong></p>
    <p>When accessing or using the Uniko Service, you agree that you will not violate any law, contract, intellectual property or other third-party right or commit a tort. Without limiting the generality of the foregoing, you agree that you will not do, and will not permit any third party to do, any of the following:</p>
    <ul>
      <li>Engage in any unauthorized use of the Uniko Service (including, without limitation, political campaigning, advertising, or marketing);</li>
      <li>
        Transmit or otherwise make available any content that: (1) you do not have the right to provide or transmit using the Uniko Service, (2) may expose Uniko or its affiliates, licensors, or users to any harm or liability, or (3) is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, unlawful, untrue, or otherwise objectionable;
      </li>
      <li>
              Transmit or otherwise make available any content that: (1) you do not have the right to provide or transmit using the Uniko Service, (2) may expose Uniko or its affiliates, licensors, or users to any harm or liability, or (3) is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, unlawful, untrue, or otherwise objectionable;
          </li>
      <li>
              Transmit or otherwise make available any content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;

          <li>
                Originate, send, deliver, relay or otherwise transmit unsolicited commercial email or other messages through the Uniko Service;
              </li>
      <li>
        Copy any portion of the Uniko Service or any underlying content or source code;
      </li>
      <li>
          Reverse engineer, disassemble or decompile any portion of the Uniko Service or otherwise attempt to discover or re-create the source code to any software;
      </li>
      <li>Distribute the software or source code behind the Uniko Service to any third party;</li>
      <li>Make any modification, adaptation, improvement, enhancement, translation or derivative work of or to any portion of the Uniko Service;</li>
      <li>Make any modification, adaptation, improvement, enhancement, translation or derivative work of or to any portion of the Uniko Service;</li>
      <li>Obscure or disable any advertisements that appear on or through the Uniko Service;</li>
      <li>
        Use any type of automated means, including without limitation any harvesting bot, robot, spider, script, crawler, scraper or other automated means or interface not provided by Uniko, to utilize the Uniko’s Service or to collect or extract data;
      </li>
      <li>Access without authorization any networks, systems, or databases used in providing the Uniko Service or any accounts associated with Uniko Service, or to access or use any information therein for any purpose;</li>
      <li>Access without authorization any networks, systems, or databases used in providing the Uniko Service or any accounts associated with Uniko Service, or to access or use any information therein for any purpose;</li>
      <li>Violate any requirements, policies, procedures or regulations of any network connected to the Uniko Service;</li>
      <li>Violate any requirements, policies, procedures or regulations of any network connected to the Uniko Service;</li>
      <li>Interfere with or disrupt the use and enjoyment by others of the Uniko Service, including without limitation attempting, in any manner, to obtain the password, account, or other security information of any other user;</li>
<li>Falsely state, impersonate, or otherwise misrepresent your identity;</li>
<li>Create more than one Account or create an Account on behalf of anyone other than yourself without permission;</li>
  <li>Use or attempt to use another user's Account without authorization;</li>
    <li>Use the Uniko Service in any manner to stalk, harass, invade the privacy of, or otherwise cause harm to, any person;</li>
    <li>Use the Uniko Service in any manner that exposes Uniko to any harm or liability of any nature;</li>
<li>Use the Uniko Service to infringe or violate the intellectual property rights or any other rights of anyone else (including Uniko);</li>
    <li>Develop any third-party applications that interact with the Uniko Service without Uniko’s prior written consent;</li>
  <li>Use the Uniko Service to engage in any illegal or unauthorized purpose or to engage in, encourage, or promote activities that are unlawful, misleading, malicious or discriminatory, including, but not limited to violations of these Terms, illegal gambling, fraud, money-laundering, or terrorist activities;</li>
  <li>Transfer any rights granted to you under these Terms; </li>
  <li>Encourage or induce any third party to engage in any of the activities prohibited under this section.</li>
<li>If you violate any of the foregoing, your right to access and use the Uniko Service will terminate immediately and automatically, and you will have infringed Uniko’s intellectual property and other rights, which may subject you to prosecution and damages. Uniko reserves the right at all times to monitor, review, retain and disclose any information regarding your use of the Uniko Service as necessary to satisfy any applicable law, regulation, legal process or governmental request. You also acknowledge and agree that Uniko is not responsible or liable for the conduct of, or your interactions with, any users of the Uniko Service (whether online or offline). Your interactions with other users are solely between you and such users and we are not responsible or liable for any loss, damage, injury or harm which results from these interactions. In addition, enforcement of these Terms is solely in our discretion, and the absence of enforcement in some instances does not constitute a waiver of our right to enforce these Terms in other instances. These Terms do not create any private right of action on the part of any third party or any reasonable expectation or promise that the Uniko Service will not contain any content that is prohibited by these Terms.</li>
    </ul>
    <p><strong>8. User Content</strong></p>
    <p>In the course of using the Uniko Service, you may transmit or otherwise make available certain content, including information about yourself, content, messages, materials, data, information, text, photos, graphics, code or other items or materials ("User Content") through interactive areas or services, such as posting items for sale or services offered, making an offer, private messaging, or other areas or services. User Content may be publicly viewable in some instances. Uniko reserves the right, but does not have the obligation, to remove, screen or edit any User Content posted or stored on the Uniko Service at any time and for any reason without notice. You will not (and will not allow or authorize any third-party to) post, upload to, transmit, distribute, store, create, solicit, disclose, or otherwise, publish through the Uniko Service any of the following:</p>
    <ul>
      <li>User Content that is, in Uniko’s sole judgment, disrespectful or may expose Uniko, Users or others to harm or liability;</li>
      <li>User Content that may infringe the patent, trademark, trade secret, copyright, intellectual, privacy or proprietary right of any party;</li>
      <li>Private information of any third parties, including addresses, phone numbers and payment card information;</li>
      <li>Viruses, corrupted data or other harmful, disruptive, or destructive files; or</li>
      <li>User Content that inhibits any other person from using or enjoying the Uniko Service.</li>
      <li>You are solely responsible for creating backup copies of and replacing your User Content at your sole cost and expense. You acknowledge and agree that Uniko is not responsible for any errors or omissions that you make in connection with the Uniko Service. By submitting or posting User Content, you hereby grant to Uniko a non-exclusive, transferable, royalty-free, perpetual, irrevocable, sublicensable right to use, reproduce, modify, adapt, publish, translate, sell, create derivative works from, distribute, perform, and display the User Content, and your name, company name, location and any other information you submit with the User Content, in connection with the Uniko Service. The use of your or any other User's name, likeness, or identity in connection with the Uniko Service does not imply any endorsement thereof unless explicitly stated otherwise. We also have the right to disclose your identity to any third party who is claiming that any content posted by you constitutes a violation of their intellectual property rights, or of their right to privacy.</li>
    </ul>
    <p><strong>9. Moderation</strong></p>
    <p>You agree that Uniko may moderate access to and use of the Uniko Service in our sole discretion through any means (including, for example, blocking, filtering, deletion, delay, omission, verification, and/or termination of your access. Furthermore, we have the right to remove any posting you make on the Uniko Service if, in our opinion, your post does not comply with the content standards set out in Sections 7 and 8 above, and any other Uniko Service rules, including without limitation the Prohibited Items Guidelines (Below). You agree not to bypass or attempt to bypass such moderation. You further agree that Uniko is not liable for moderating, not moderating or making any representations regarding moderating.</p>
<p><strong>10. Third Party Services and Content</strong></p>
<p>In using the Uniko Service, you may view content, utilize services, or otherwise interact with content and services provided by third parties, including, but not limited to, links and/or connections to websites, applications or services of such parties ("Third-Party Content"). Uniko does not control, endorse or adopt any Third-Party Content and you acknowledge and agree that Uniko will have no responsibility for any Third Party Content, including without limitation, material that may be misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable. In addition, your business or other dealings or correspondence with such third parties are solely between you and the third parties. Uniko is not responsible or liable for any damage or loss of any sort caused, or alleged to be caused, by or in connection with any such dealings, including the delivery, quality, safety, legality or any other aspect of any good or services that you may purchase or sell to or from a third party.</p>
<p><strong>11. Feedback</strong></p>
<p>Any comments or materials sent to us, including, but not limited to, ideas, questions, comments, suggestions, feedback or the like regarding the Uniko Service or any other products or services of Uniko (collectively, "Feedback"), is non-confidential and will become our sole property. We will have no obligation to you of any kind, monetary or non-monetary, with respect to such Feedback and will be free to reproduce, use, disclose, exhibit, display, transform, create derivative works from and distribute the Feedback to others without limitation or obligation. You waive any rights you may have to the Feedback (including any copyrights or moral rights). Further, you agree not to submit any feedback that is defamatory, illegal, offensive or otherwise violates any right of any third party, or breaches any agreement between you and any third party.</p>
<p><strong>12. Intellectual Property Rights</strong></p>
<p>Unless otherwise indicated, the Uniko Service and all content, materials, information, functionality and other materials displayed, performed, contained or available on or through the Uniko Service, including, without limitation, the Uniko logo, and all designs, text, graphics, pictures, information, data, sound files, images, illustrations, software, other files, and the selection and arrangement thereof (collectively, the "Materials") are the proprietary property of Uniko or its affiliates or licensors, and are protected by U.S. and international copyright laws and other intellectual property rights laws.</p>
<p>Except as otherwise provided, subject to your compliance with all of the terms and conditions of these Terms, and in consideration of your promises reflected herein (and with respect to any services requiring payment of fees, your payment of such fees), we grant to you a revocable, personal, non-exclusive, non-assignable and non-transferable license for personal, non-commercial purposes, except where explicitly provided otherwise, to (i) access and use the Uniko Service, (ii) cause the Materials to be displayed from a computer and/or mobile device and (iii) use the Materials, solely as permitted under these Terms (the "License"). Uniko and its affiliates and licensors reserve all rights not expressly granted to you in these Terms. You agree that these Terms do not grant you any rights in or licenses to the Uniko Service or the Materials, except for this express, limited License. You will not otherwise copy, transmit, distribute, sell, resell, license, de-compile, reverse engineer, disassemble, modify, publish, participate in the transfer or sale of, create derivative works from, perform, display, incorporate into another website, or in any other way exploit any of the Materials or any other part of the Uniko Service or any derivative works thereof, in whole or in part for commercial or non-commercial purposes. Without limiting the foregoing, you agree not to frame or display the Uniko Service or Materials (or any portion thereof) as part of any other website or any other work of authorship without our prior written permission. The License granted under this Section will automatically terminate if we suspend or terminate your access to the Uniko Service.
</p>
<p><strong>13. Trademarks</strong></p>
<p>Uniko, Uniko.us, and other Uniko graphics, logos, page headers, buttons, icons, scripts, and service names are trademarks, registered trademarks, or trade dress of Uniko or its affiliates in the U.S. and/or other countries, and may not be copied, imitated, or used, in whole or in part, without Uniko prior written consent. You will not use any trademark, product or service name of Uniko without our prior written permission, including without limitation any metatags or other "hidden text" utilizing any trademark, product of service name of Uniko. All other registered trademarks and service marks are used for reference purposes only, and remain the property of their respective owners. Reference to any products, services, processes or other information, by name, trademark, manufacturer, supplier or otherwise does not constitute or imply an endorsement, sponsorship or recommendation by Uniko.</p>
  <p><strong>14. Suspension; Termination.</strong></p>
  <p>Uniko may revoke or terminate your License to access or use the Uniko Service for any reason without notice at Uniko’s sole discretion. Without limiting the generality of the foregoing, we may revoke or terminate the License if you: (i) breach any obligation in these Terms or in any other agreement between you and us, (ii) violate any policy or guideline applicable to the Uniko Service or Materials, or any other Uniko product or service, or (iii) use the Uniko Service or the Materials other than as specifically authorized in these Terms, without our prior written permission. You will stop accessing or using the Uniko Service immediately if Uniko suspends or terminates your License to access or use the Uniko Service. Uniko reserves the right, but does not undertake any duty, to take appropriate legal action including the pursuit of civil, criminal, or injunctive redress against you for continuing to use the Uniko Service during suspension or after termination. Uniko may recover its reasonable attorneys' fees and court costs from you for such action. These Terms will remain enforceable against you while your License to access or use the Uniko Service is suspended and after it is terminated. You may also terminate your License to access or use the Uniko Service by closing your Uniko Account at any time. For more details on how to close your Uniko Account, please refer to our FAQs.</p>
<p><strong>15. Disclaimer of Warranties</strong></p>
<p>TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, AND EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY US, THE UNIKO SERVICE, THE MATERIALS AND ANY ITEMS OR SERVICES SOLD BY USERS THROUGH THE UNIKO SERVICE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE UNIKO SERVICE, INCLUDING THE INFORMATION, CONTENT AND MATERIALS CONTAINED THEREIN, AND ANY ITEMS OR SERVICES SOLD THROUGH THE UNIKO SERVICE.</p>
<p>WITHOUT LIMITING THE FOREGOING, NEITHER UNIKO NOR ANY OF ITS AFFILIATES OR LICENSORS, NOR THE RESPECTIVE OFFICERS, DIRECTORS, LICENSORS, EMPLOYEES OR REPRESENTATIVES OF SUCH PARTIES (COLLECTIVELY, THE "UNIKO PROVIDERS") REPRESENT OR WARRANT (I) THAT THE UNIKO SERVICE, MATERIALS, ITEMS, OR SERVICES SOLD THROUGH THE UNIKO SERVICE WILL MEET YOUR REQUIREMENTS OR BE ACCURATE, COMPLETE, APPROPRIATE, RELIABLE OR ERROR FREE; (II) THAT THE UNIKO SERVICE, MATERIALS, ITEMS, OR SERVICES SOLD THROUGH THE UNIKO SERVICE WILL ALWAYS BE AVAILABLE OR WILL BE UNINTERRUPTED, ACCESSIBLE, TIMELY, RESPONSIVE OR SECURE; (III) THAT ANY DEFECTS WILL BE CORRECTED, OR THAT THE UNIKO SERVICE, MATERIALS, ITEMS, OR SERVICES SOLD THROUGH THE UNIKO SERVICE WILL BE FREE FROM VIRUSES, "WORMS," "TROJAN HORSES" OR OTHER HARMFUL PROPERTIES; (IV) THE ACCURACY, RELIABILITY, TIMELINESS OR COMPLETENESS OF ANY MATERIALS AVAILABLE ON OR THROUGH THE UNIKO SERVICE; (V) ANY IMPLIED WARRANTY ARISING FROM COURSE OF DEALING OR USAGE OF TRADE; (VI) THAT THE UNIKO SERVICE, MATERIALS OR ITEMS SOLD THROUGH THE UNIKO SERVICE ARE NON-INFRINGING; OR (VII) THAT ANY BADGE IS A REPRESENTATION AS TO THE IDENTITY, CHARACTER OR INTEGRITY OF ANY PERSON, BUSINESS, OR ENTITY THAT IS ASSOCIATED WITH A BADGE.</p>
<p>YOU ACKNOWLEDGE THAT INFORMATION YOU STORE OR TRANSFER THROUGH THE UNIKO SERVICE MAY BECOME IRRETRIEVABLY LOST OR CORRUPTED OR TEMPORARILY UNAVAILABLE DUE TO A VARIETY OF CAUSES, INCLUDING SOFTWARE FAILURES, PROTOCOL CHANGES BY THIRD PARTY PROVIDERS, INTERNET OUTAGES, DISASTERS, SCHEDULED OR UNSCHEDULED MAINTENANCE, OR OTHER CAUSES EITHER WITHIN OR OUTSIDE OUR CONTROL. YOU ARE SOLELY RESPONSIBLE FOR BACKING UP AND MAINTAINING DUPLICATE COPIES OF ANY INFORMATION YOU STORE OR TRANSFER THROUGH THE UNIKO SERVICE.</p>
<p>Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.</p>
<p><strong>16. Assumption of Risk</strong></p>
<p>You acknowledge and agree that there are risks associated with utilizing an Internet-based marketplace for the sale of goods and services, including but not limited to, the risk of failure of hardware, software and Internet connections, the risk of malicious software introduction, and the risk that third parties may obtain unauthorized access to information stored within your Account. You acknowledge and agree that Uniko will not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when using the Uniko Service, however caused. Uniko takes no responsibility for and will not be liable for any losses, damages or claims arising from the use of the Uniko Service, including, but not limited to, any losses, damages or claims arising from (a) server failure or data loss, (b) forgotten passwords, or (c) "phishing," spam, viruses, third-party attacks or any other unauthorized third-party activities.</p>
<p><strong>17. Limitation of Liability</strong></p>
<p>A.	EXCEPT AS OTHERWISE REQUIRED BY LAW, IN NO EVENT SHALL UNIKO OR THE UNIKO PROVIDERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), PRODUCT LIABILITY, STRICT LIABILITY OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH: (I) USE OF THE UNIKO SERVICE OR MATERIALS, INCLUDING, BUT NOT LIMITED TO, ANY DAMAGE CAUSED BY ANY RELIANCE ON, OR ANY DELAYS, INACCURACIES, ERRORS OR OMISSIONS IN, ANY OF THE UNIKO SERVICE OR MATERIALS, (II) ANY INABILITY TO USE THE UNIKO SERVICE OR MATERIALS FOR WHATEVER REASON, OR (III) ANY GOODS OR SERVICES DISCUSSED, PURCHASED OR OBTAINED, DIRECTLY OR INDIRECTLY, THROUGH THE UNIKO SERVICE, IN EACH CASE EVEN IF UNIKO OR THE UNIKO PROVIDERS ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM COMPANY, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM A FORCE MAJEURE EVENT, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO UNIKO’S RECORDS, PROGRAMS OR SERVICES.</p>
<p>Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the limitations of this section may not apply to you.</p>
<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE AGGREGATE LIABILITY OF UNIKO OR THE UNIKO PROVIDERS, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF, OR INABILITY TO USE, COMPANY OR TO THESE TERMS EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO UNIKO FOR ACCESS TO OR USE OF THE UNIKO SERVICE OR MATERIALS.0</p>
<p><strong>18. Indemnity</strong></p>
<p>You agree to hold harmless, defend and indemnify Uniko and the Uniko Providers from all liabilities, losses, damages, deficiencies, claims, causes of action, demands and expenses, (including, but not limited to, reasonable attorneys' fees), that are due to, arise from or otherwise relate to your conduct or your use or misuse of the Uniko Service or Materials, including, without limitation, any actual or threatened suit, demand or claim made against Uniko or any Uniko Provider that arises out of or relates to: (i) any intellectual property rights or other proprietary rights of any third party, (ii) your breach of these Terms including without limitation your breach of any of your representations and warranties; (iii) your use of any of the Uniko Service or Materials; or (iv) any content that you store on or transmit through the Uniko Service. Uniko may assume exclusive control of any defense of any matter subject to indemnification by you, and you agree to cooperate with Uniko in such event.</p>
<p><strong>19. Arbitration</strong></p>
<p>PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO SUBMIT TO BINDING ARBITRATION (INCLUDING A JURY TRIAL WAIVER) ANY AND ALL DISPUTES (OTHER THAN SPECIFIED INTELLECTUAL PROPERTY CLAIMS AND SMALL CLAIMS) WITH UNIKO AND IT LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM UNIKO (NO CLASS ARBITRATIONS, CLASS ACTIONS OR REPRESENTATIVE ACTIONS OR ARBITRATIONS).</p>
<p>A.	Binding Arbitration. Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, "Disputes") arising out of or related to a violation of Section 7 or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and Uniko agree (1) to waive your and Uniko respective rights to have any and all Disputes arising from or related to these Terms, the Uniko Service or the Materials, resolved in a court, and (2) to waive your and Uniko respective rights to a jury trial. Instead, you and Uniko agree to arbitrate Disputes through binding arbitration (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).</p>
<p><strong>No Class Arbitrations, Class Actions or Representative Actions.</strong> You and Uniko agree that any Dispute arising out of or related to these Terms, the Uniko Service or the Materials is personal to you and Uniko and that such Dispute will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding. You and Uniko agree that there will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, you and Uniko agree that a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.</p>
<p><strong>Federal Arbitration Act.</strong> You and Uniko agree that these Terms affect interstate commerce and that the enforceability of this Section 20 shall be both substantively and procedurally governed by and construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C. Â§ 1 et seq. (the "FAA"), to the maximum extent permitted by applicable law.</p>
<p><strong>Notice; Informal Dispute Resolution.</strong> You and Uniko agree that each party will notify the other party in writing of any arbitral or small claims Dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the Dispute informally. Notice to Uniko shall be sent by certified mail or courier to Uniko, LLC., Attn: Designated Address. 10 Washington Ct, Stamford CT, 06902. Your notice must include (1) your name, postal address, telephone number, the email address you use or used for your Uniko Account, and, if different, an email address at which you can be contacted, (2) a description in reasonable detail of the nature or basis of the Dispute, and (3) the specific relief that you are seeking. Pursuant to Section 4, our notice to you will be sent to the email address you used to register for your Uniko Account, and will include (a) our name, postal address, telephone number and an email address at which we can be contacted with respect to the Dispute, (b) a description in reasonable detail of the nature or basis of the Dispute, and (c) the specific relief that we are seeking. If you and Uniko cannot agree how to resolve the Dispute within thirty (30) days after the date notice is received by the applicable party, then either you or Uniko may, as appropriate and in accordance with this Section 20, commence an arbitration proceeding, or to the extent specifically provided for in section 20(A), file a claim in court.</p>
<p><strong>Process.</strong> Except for Disputes arising out of or related to a violation of Section 7 or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and Uniko agree that any Dispute must be commenced or filed by you or Uniko within one (1) year of the date the Dispute arose, otherwise the underlying claim is permanently barred (which means that you and Uniko will no longer have the right to assert such claim regarding the Dispute). You and Uniko agree that (1) any arbitration will occur in Connecticut, (2) arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of the Judicial Arbitration and mediation Services ("JAMS"), which are hereby incorporated by reference, and (3) that the state or federal courts of the State of Connecticut and the United States, respectively, have exclusive jurisdiction over any appeals and the enforcement of an arbitration award. You may also litigate a Dispute in the small claims court located in the county of your billing address if the Dispute meets the requirements to be heard in small claims court.</p>
<p><strong>Authority of the Arbitrator.</strong> As limited by the FAA, these Terms and the applicable JAMS rules, the arbitrator will have (1) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable, and (2) the authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative action, which is prohibited by these Terms. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual's claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.</p>
<p><strong>Rules of JAMS.</strong> The rules of JAMS and additional information about JAMS are available on the JAMS website. By agreeing to be bound by these Terms, you either (1) acknowledge and agree that you have read and understand the rules of JAMS, or (2) waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.</p>
<p><strong>Severability.</strong> If any term, clause or provision of this Section 20 is held invalid or unenforceable, it will be so held to the minimum extent required by law, and all other terms, clauses and provisions of this Section 20 will remain valid and enforceable. Further, the waivers set forth in Section 20(B) are severable from the other provisions of these Terms and will remain valid and enforceable, except as prohibited by applicable law.</p>
<p><strong>Opt-Out Right.</strong> You have the right to opt out of binding arbitration within thirty (30) days of the date you first accepted the terms of this Section 20 by writing to: Uniko, LLC., Attn: Uniko’s designated address, 10 Washington Ct, Stamford CT, 06902. In order to be effective, the opt-out notice must include your full name and registered Account email address, and clearly indicate your intent to opt-out of binding arbitration. By opting out of binding arbitration, you are agreeing to resolve Disputes in accordance with Section 21.</p>
<p><strong>20. Governing Law; Venue.</strong></p>
<p> These Terms, your access to and use of the Uniko Service and Materials shall be governed by and construed and enforced in accordance with the laws of the State of Connecticut without regard to conflict of law rules or principles (whether of the State of Connecticut or any other jurisdiction) that would cause the application of the laws of any other jurisdiction. Any Dispute between the parties that is not subject to arbitration or cannot be heard in small claims court, shall be resolved in the state or federal courts of the State of Connecticut and the United States, respectively, sitting in Stamford, Connecticut.</p>
<p><strong>21. Miscellaneous</strong></p>
<p>A.	Entire Agreement; Order of Precedence. These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings between the parties regarding the Uniko Service. These Terms do not alter the terms or conditions of any other electronic or written agreement you may have with Uniko for the Uniko Service or for any other Uniko product, feature, service or otherwise. In the event of any conflict between these Terms and any other agreement you may have with Uniko, the terms of that other agreement will control only if these Terms are specifically identified and declared to be overridden by such other agreement.</p>
<p><strong>Amendments.</strong> We reserve the right to make changes or modifications to these Terms from time to time, in our sole discretion. If we make changes to these Terms, we will provide you with notice of such changes, such as by sending you an email and/or by posting the amended Terms via the Uniko Service and updating the "Last Updated" date at the top of these Terms. All amended Terms will become effective immediately on the date they are posted to the Uniko Service unless we state otherwise via our notice of such amended Terms. Any amended Terms will apply prospectively to use of the Uniko Service after such changes become effective. Your continued use of the Uniko Service following the effective date of such changes will constitute your acceptance of such changes. If you do not agree to any amended Terms, you must discontinue using the Uniko Service.</p>
<p><strong>Severability.</strong> If any provision of these Terms is held to be unenforceable for any reason, such provision will be reformed only to the extent necessary to make it enforceable, and such decision will not affect the enforceability of such provision under other circumstances, or of the remaining provisions hereof under all circumstances.</p>
<p><strong>Waiver.</strong> Our failure or delay in exercising any right, power or privilege under these Terms will not operate as a waiver thereof.</p>
<p><strong>Relationship.</strong> Uniko is an independent contractor for all purposes, and is not your agent or trustee.</p>
<p><strong>Assignment.</strong> You may not assign or transfer any of your rights or obligations under these Terms without prior written consent from Uniko, including by operation of law or in connection with any change of control. Uniko may assign or transfer any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.</p>
<p><strong>Headings.</strong> Headings of sections are for convenience only and will not be used to limit or construe such sections.</p>
<p><strong>Survival.</strong> Sections 16 (Disclaimer of Warranties), 18 (Limitation of Liability), 19 (Indemnity), 20 (Arbitration), 21 (Governing Law; Venue), this Section 22 (Miscellaneous), and any other term that, by its nature, should survive, will survive any termination or expiration of these Terms.</p>
  </div>
	</div>
</div>
{% endblock %}
