{% extends 'base.html' %} {% load static %} {% block content %}
<div class="ad-info">
	<div class="ad-images">
		<!-- <ul>
			{% for image in images %}
			<li><img class = "product-image" src="{{image.image.url}}" alt="product-image"></li>
			{% endfor %}
		</ul> -->
		<!-- bootstrap carousel -->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      {% for image in images %}
			  <!-- Indicators -->
			  <!-- <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			  </ol> -->
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active srle">
			      <img src="{{image.image.url}}" alt="1.jpg" class="img-responsive">
			    </div>
			  </div>
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="fa fa-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="fa fa-chevron-right"></span>
			  </a>

			  <!-- Thumbnails -->
			  <ul class="thumbnails-carousel clearfix">
			  	<li><img src="{{ image.image.url }}" alt=""></li>
			  </ul>

			  {% endfor %}
			</div>
	</div>
	<div class="ad-desc">
		<div class="ad-owner">
			<a href="{% url 'user_profile' object.owner.id %}"><img src="{{object.owner.avatar_url }}" class = "owner-photo"alt=""></a><span>{{object.owner}}</span>
		</div>
		<hr>
		<div class="ad-title">
			{{object.title}}
		</div>
		<div class="ad-description">Description: <br><span>{{object.description}}</span></div>
		<div class="ad-price">
			Price: <span>{{object.price}} $</span>
		</div>
		<div class="ad-condition">
			Condition: <span>{{object.item_condition}}</span>
		</div>
		<hr>
		<div class="ad-option">
			{% if object.sold %} {% else %}
			<!-- this should be POST-Ajax request to message center. I think all current messages should be displayed in bottom
POST API endpoint == ~/messages
Format JSON
{
		author = {{user.id}}
    advert = {{object.id}}
    message_text = What this all about
}
-->
<script>
function postAdd() {
	var message_text = $('.write-user').val();
	$.ajax({
			type: "POST",
			url: "{% url 'message_create' %}",
			data: {
        'user_id': {{ object.owner_id }},
        'advert_id': {{ object.id }},
        'message_text': message_text,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
			success : function(json) {
                // hide the post
              $('.write-user').val('');
              $('#chat-user').hide(); // hide the post on success
              alert("ok");
              //output the success popup
            },

      error : function(xhr,errmsg,err) {
                // Show an error
                // $('#results').html("<div class='alert-box alert radius' data-alert>"+
                // "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>");

								//output the success popup
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
	});
}
</script>


			<!-- This is something contradictionary. Because David tell me this is not an auction, but he still need this button-->
			<!-- POST Ajax request to POST API endpoint == ~/messages
JSON
{
	author = {{user.id}}
    advert = {{object.id}}
    message_text = "Whant buy this {{object.title}} for {new_price_from_popup_enter_value_whatever}"
}
-->
<script>
function makeOffer() {
	var message_text = "I'd like to purchse" + " '{{object.title}}' " + "for " + $('#ad-price').val() + "$";
	$.ajax({
			type: "POST",
			url: "{% url 'message_create' %}",
			dataType: "json",
			data: {
        "user_id": {{ object.owner_id }},
        "advert_id": {{ object.id }},
        "message_text": message_text,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
			success : function(json) {
                // hide the post
              $('#Makeanoffer').hide(); // hide the post on success
              alert("ok");
              //output the success popup
            },

            error : function(xhr,errmsg,err) {
                // Show an error
                // $('#results').html("<div class='alert-box alert radius' data-alert>"+
                // "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>");

								//output the success popup
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
			}
	);
}
</script>
      {% if user != object.owner.user %}
         <button class="btn btn-primary" data-toggle="modal" data-target="#chat-user">Chat</button>
			   <button class="btn btn-success" data-toggle="modal" data-target="#Makeanoffer">Make an offer</button>
			   <button class="btn btn-info" id="purchse">Purchase</button>
      {% endif %}
      {% if user == object.owner.user %}
			   <a href="{% url 'edit-advert' object.id %}"><button class = "btn btn-primary">Update</button></a>
      {% endif %}

      {% endif %}
			<!-- <br> -->
			<!-- <a class = "user-part btn"href="{% url 'user_profile' object.owner.id %}">User part
      <img src="{{ object.owner.avatar_url }}" alt="Meet the {{object.owner}}"></a> -->
		</div>

	</div>
</div>
<div class="popups">
	<!-- //Popup Make an offer -->
	<div id="Makeanoffer" class="modal fade" role="dialog">
		<div class="modal-dialog popup-offer">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Make an offer</h4>
				</div>
				<div class="modal-body">
					<div class="ad_value">
						<div class="input-group price">
							 <input type="numberw" id ="ad-price" class = "ad-input">
							 <div class="input-group-addon">$ </div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal" onclick="makeOffer()">Offer</button>
				</div>
			</div>

		</div>
	</div>
	<!-- //Popup Make an offer -->

	<!-- Send a message -->
		<div id="chat-user" class="modal fade" role="dialog">
		<div class="modal-dialog popup-offer">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Write a message</h4>
				</div>
				<div class="modal-body">
					<div class="ad_value">
					<textarea name="name" class = "write-user" autofocus>
					</textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal" onclick="postAdd()">Send</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Send a message -->
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
  $("#purchse").click(function(e) {
    e.preventDefault();
    var message_text = "I'd like to purchse" + " '{{object.title}}'";
    $.ajax({
        type: "POST",
        url: "{% url 'message_create' %}",
        dataType: "json",
        data: {
          "user_id": {{ object.owner_id }},
          "advert_id": {{ object.id }},
          "message_text": message_text,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success : function(json) {
          alert("ok");
          //output the success popup
        },
        error : function(xhr,errmsg,err) {
            // Show an error
            // $('#results').html("<div class='alert-box alert radius' data-alert>"+
            // "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>");

            //output the success popup
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        }
    );
  })
</script>
{% endblock %}
