{% extends 'base.html' %} {% block content %}
<div>
	<div>
		<div class="col-sm-offset-2 col-sm-8 add-advert">
			<form class="form-horizontal" action="{% url 'edit-advert' object.id %}" method="post" enctype="multipart/form-data">
				{%csrf_token%} {% load widget_tweaks %}
				<h2 class="reg_tittle">Submit your ad on UNIKO</h2>
				<div class="ad_value">
					<label for=ad-title class="reg_label">Title</label>
					<br> {% render_field form.title class+="ad-input ad-input-title" id+="ad-title"%}
				</div>

				<div class="ad_value">
					<label for="ad-desc" class="reg_label">Description</label>
					<br> {% render_field form.description class+="ad-input ad-input-desc" id+="ad-desc"%}
				</div>
				<label for="ad-price" class="reg_label">Price</label><br>
				<div class="input-group price">
			<div class="input-group-addon">$ </div>
					 {% render_field form.price class+="ad-input" id+="ad-price"%}
				</div>

				<div class="ad_value">
					<label for="ad-cond" class="reg_label">Condition</label>
					<br> {% render_field form.item_condition class+="ad-input" id+="ad-cond"%}
				</div>

				<!-- 		        	        <div class="ad_value">
		            <label for="usr_name" class="reg_label">Hidden</label>{% render_field form.hidden class+="ad-input" id+="usr_name"%}
		        </div> -->

				<div class="ad_value">
					<label for="ad-cat" class="reg_label">Category</label>
					<br> {% render_field form.category class+="ad-input" id+="ad-cat"%}
				</div>

				{% comment %}
				{{ advert_photos.management_form }}

				{% for set_element in advert_photos %}
					<img src="set_element.image.url" />
					{{ set_element.image}}
					{{ set_element.delete}}
				{% endfor %}
				{% endcomment %}

				<div class="file-drop-area">
					<span class="fake-btn">Choose files</span>
					<span class="file-msg js-set-number">or drag and drop files here</span>
					<input type="file" id="files" name="files[]" class="file-input" multiple />
					<output id="list">
						{% for advertimage in object.advertimages_set.all %}
							<span><img class="thumb" src="{{ advertimage.image.url }}" title="{{ advertimage.image.name }}"></span>
						{% endfor %}
					</output>
				</div>

				<script>
					function handleFileSelect(evt) {
						var files = evt.target.files; // FileList object

						// Loop through the FileList and render image files as thumbnails.
						for (var i = 0, f; f = files[i]; i++) {

							// Only process image files.
							if (!f.type.match('image.*')) {
								continue;
							}

							var reader = new FileReader();

							// Closure to capture the file information.
							reader.onload = (function(theFile) {
								return function(e) {
									// Render thumbnail.
									var span = document.createElement('span');
									span.innerHTML = ['<img class="thumb" src="', e.target.result,
										'" title="', escape(theFile.name), '"/>'
									].join('');
									document.getElementById('list').insertBefore(span, null);
								};
							})(f);

							// Read in the image file as a data URL.
							reader.readAsDataURL(f);
						}
					}

					document.getElementById('files').addEventListener('change', handleFileSelect, false);
				</script>

				<div class="edit-btn">
					<Button type="submit" class="btn btn-primary reg-btn">Update ad</Button>
				</div>
			</form>
			</form>
		</div>
		{% endblock %}</div>
</div>
