{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
			<div class="main__content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 horizontal-filter">
							<a href = "#">
								<i class="" aria-hidden="true"></i>
								<span>All</span>
							</a>
{% for category in categories %}
		<a href="{% url 'advert-list-cats' category.id %}">
			<i class="fa fa-{{category.pictogram}}" aria-hidden="true"></i>
			<span>{{category.name}}</span>
		</a>
{% endfor %}
						</div>
						<div class="col-sm-12">
							<div class="main-container">
								<div role="tabpanel" class="tab-pane active" id="panel-1">
									<div class="row masonry-container">

										<!-- <div class="col-md-3 col-xs-6 item category-filter">
											<div class="thumbnail filter">
												<h3><a href="{% url 'advert-list'%}">Categories</a></h3>
												<ul class = "filter-categories">
												{% for category in categories %}
													<li>
														<a href="{% url 'advert-list-cats' category.id %}">
															<i class="fa fa-{{category.pictogram}}" aria-hidden="true"></i>
															<span>{{category.name}}</span>
														</a>
													</li>
		<li><a href="#"><i class="fa fa-book" aria-hidden="true"></i>Books</a></li>
													<li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>Services</a></li>
													<li><a href="#"><i class="fa fa-television" aria-hidden="true"></i>House appliances</a></li>
													<li><a href="#"><i class="fa fa-bed" aria-hidden="true"></i>Furniture</a></li>
													<li><a href="#"><i class="fa fa-male" aria-hidden="true"></i>Clothes</a></li>
 										{% endfor %}
												</ul>
											</div>
										</div><!--/.item  -->

										{% for advert in object_list %}
										<a href="{% url 'advert-detail' advert.id %}">
										<div class="col-md-3 col-xs-6 item">
											<div class="thumbnail order">

												<div class="order-image">
													<img src="{{ advert.main_image }}">
												</div>
												<div class="caption">
													<h4 class = "item_title">{{advert.title}}</h4>
													<span class="item_description">$ {{advert.price}}</span>
												</div>
											</div>
										</div><!--/.item  -->
										</a>
										{% endfor %}

									</div> <!--/.masonry-container  -->
								</div><!--/.tab-panel -->
							</div><!-- /.container -->
						</div>
					</div>
				</div>
			</div>

<!-- 			<div class="join-us">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 please-login">
							<p>Create a <span class = "login-uniko">Uniko</span> account and start buying and selling amoungst your peers</p>
							<a href="#signinPopup" class="btn btn-default" data-toggle="modal">JOIN YOUR COMMUNITY</a>
 						</div>
					</div>
				</div>
			</div>
 -->{% endblock %}
