{% extends 'base.html' %} {% load static %} {% load staticfiles %} {% block content %}
<div class="container">
	<div class="profile-header">
		<div class="profile-edit">
			{% if user.profile.id == object.id %}
			<a href="{% url 'update_profile' object.id %}"><i class="fa fa-cog" aria-hidden="true"></i></a> {% endif %}
		</div>
		<div class="profile-name">
			<span>Meet {{object.name}} {{object.surname}}</span>
		</div>
		<div class="profile-avatar">
			{%if object.avatar %}
			<img src={{object.avatar_url}}> {%else%}
			<img src="{% static 'img/user'%}"> {%endif%}

		</div>

		<!-- <div class="profile-rating">
					<span class="stars">{{object.average_rating}}</span>
							<a href="#" data-toggle="modal" data-target="#addReview"><span >({{object.average_rating}})</span></a>
			    </div> -->
		<div class="user-rating">
			<div class="star_rating">{{object.average_rating}}</div>
			<div class="rating-score"><a href="#" data-toggle="modal" data-target="#addReview"><span >({{object.average_rating}})</span></a></div>
		</div>
	</div>
	<div class="profile-description">
		<div class="input-group desc-block pr-desc">
			<div class="input-group-addon">
				About me
			</div>
			<span>{{object.description}}</span>
		</div>
	</div>
	<div class="profile-ad">
		<div class="main__content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="main-container">
							<div role="tabpanel" class="tab-pane active" id="panel-1">
								<div class="row masonry-container">


									{% for advert in object.advert_set.all %}
									<a href="{% url 'advert-detail' advert.id %}">
										<div class="col-md-3 col-xs-6 item">
											<div class="thumbnail order">

												<div class="order-image">
													<img src="{{ advert.main_image }}">
												</div>
												<div class="caption">
													<h4 class="item_title">{{advert.title}}</h4>
													<span class="item_description">{{advert.price}} $</span>
												</div>
											</div>
										</div>
										<!--/.item  -->
									</a>
									{% endfor %}

								</div>
								<!--/.masonry-container  -->
							</div>
							<!--/.tab-panel -->
						</div>
						<!-- /.container -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
<div class="popups">
	<!-- //Popup Make an offer -->
	<div id="addReview" class="modal fade" role="dialog">
		<div class="modal-dialog add-review">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add review</h4>
				</div>
				<div class="modal-body">
					{% for review in object.review_set.all %}
						<div class="review-body">
							<div class="review-avatar">
								<img src="{{ review.user.avatar_url }}" alt="review-avatar">
							</div>
							<div class="review-content">
								<div class="review-auther">
									{{ review.user }}
								</div>
								<div class="review">
									{{ review.text }}
								</div>
							</div>
							<div class="review-score">
								<div class="star_rating" style="width: 100%">{{ review.rating }}</div>
							</div>
						</div>
					{% endfor %}

				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-review" data-toggle="modal" data-target="#newReview">Write new review</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //Popup Make an offer -->


	<div id="newReview" class="modal fade" role="dialog">
		<div class="modal-dialog write-review">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Write a review</h4>

					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<!-- RATING - Form -->
					<form class="rating-form2" action="#" method="post" name="rating-movie">
						<textarea name="review" class="write-user"></textarea>

						<div class="form-item">

							<input id="rating-5" name="rating" type="radio" value="5" />
							<label for="rating-5" data-value="5">
	<span class="rating-star">
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star"></i>
	</span>
	<span class="ir">5</span>
</label>
							<input id="rating-4" name="rating" type="radio" value="4" />
							<label for="rating-4" data-value="4">
	<span class="rating-star">
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star"></i>
	</span>
	<span class="ir">4</span>
</label>
							<input id="rating-3" name="rating" type="radio" value="3" />
							<label for="rating-3" data-value="3">
	<span class="rating-star">
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star"></i>
	</span>
	<span class="ir">3</span>
</label>
							<input id="rating-2" name="rating" type="radio" value="2" />
							<label for="rating-2" data-value="2">
	<span class="rating-star">
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star"></i>
	</span>
	<span class="ir">2</span>
</label>
							<input id="rating-1" name="rating" type="radio" value="1" />
							<label for="rating-1" data-value="1">
	<span class="rating-star">
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star"></i>
	</span>
	<span class="ir">1</span>
</label>

						</div>

					</form>


				</div>
				<div class="modal-footer">
					<button id='review-send' type="button" class="btn" data-dismiss="modal">Send</button>
				</div>
			</div>
		</div>
	</div>


<script>
$('#review-send').click(function(e){
	e.preventDefault();
	var $form = $('.rating-form2');
	var text = $form.find('textarea[name="review"]').val();
	var rating = $form.find('input[name="rating"]').val();
	$.ajax({
			type: "POST",
			url: "{% url 'review-list' %}",
			dataType: "json",
			data: {
				'user': {{ object.id }},
				'author': {{ request.user.profile.id }},
				'text': text,
				'rating': rating,
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			success : function(json) {
      	window.location.href = '.'
      },
      error : function(xhr,errmsg,err) {
      	console.log(xhr.status + ": " + xhr.responseText);
      }
	});

});
</script>
{% endblock %}

</div>
