{% extends 'base.html' %} {% load static %} {% load staticfiles %} {% block content %}
<div class="col-sm-offset-2 col-sm-8">
  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {%csrf_token%} {% load widget_tweaks %}
    <h1 class="reg_tittle">Meet {{object.name}} {{object.surname}}</h1>
  <div class="reg_value">
    <div class="form-group">
          <div class="main-img-preview">
          {% if object.avatar %}
            <img class="thumbnail img-preview" src="{{ object.avatar_url }}" title="Preview Logo">
          {% else %}
            <img class="thumbnail img-preview" src="{% static 'img/user'%}" title="Preview Logo">
          {% endif %}
          </div>
          <div class="input-group">
            <input id="fakeUploadLogo" class="form-control fake-shadow" placeholder="Choose File" disabled="disabled">
            <div class="input-group-btn">
              <div class="fileUpload btn btn-danger fake-shadow">
              <input type="file" class="inputfile" id="{{ form.avatar.id_for_label }}" name="{{ form.avatar.html_name }}" />
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="input-group">
         <div class="input-group-addon">
           <i class="fa fa fa-user"></i>
         </div>
       {% render_field form.name class+="reg_input" %}
       <div class="input-group-addon">
         <i class="fa fa-user-o"></i>
       </div>
     {% render_field form.surname class+="reg_input"%}
    </div>

    <div class="input-group desc-block pr-desc">
         <div class="input-group-addon">
        About me
         </div>
       {% render_field form.description class+="reg_input"%}
    </div>
    <div class="input-group edit-pass">
         <div class="input-group-addon">
           <i class="fa fa-lock"></i>
         </div>
       {% render_field form.password class+="reg_input" %}
    </div>

<div class="edit-btn">
    <Button type="submit" class="btn btn-primary reg-btn">Update</Button></div>
  </form>
</div>

{% endblock %}
